html {
  background: url("/img/blue.png"); }

body {
  background: url("/img/background.png");
  color: #959da2;
  font-size: 1.1em;
  min-height: 773px; }

a {
  color: #3996d0; }

.right {
  float: right; }

#top {
  background: white url(/img/shadow.png) 0 39px repeat-x;
  height: 34px;
  padding: 5px 10px; }
  #top #name {
    font-weight: bold;
    position: relative;
    top: 6px;
    float: right;
    margin-right: 10px; }
  #top a {
    padding: 7px 10px;
    display: block;
    background: #f1f1f1;
    float: right;
    color: #333;
    margin-right: 3px;
    font-size: .9em;
    font-weight: bold;
    border-radius: 3px; }
  #top a:hover {
    text-decoration: none;
    background: #ccc; }

#wrapper {
  padding: 20px 50px; }

#logo {
  display: block; }

h1 {
  letter-spacing: -1px;
  font-size: 4em;
  color: #c3ccd2;
  margin-bottom: 0.5em; }

h1 a {
  text-decoration: none;
  color: #c3ccd2; }

h1 a:hover {
  text-decoration: none;
  color: #A2AAAE; }

h1 span {
  color: #A2ABB1; }

h5 {
  font-size: 1.2em;
  color: #c3ccd2;
  line-height: 1.2em;
  margin-bottom: 0.6em; }

h5 span {
  color: #abb3b8; }

#central {
  text-align: center;
  padding-top: 200px; }

.small {
  font-size: 0.9em; }

.hide {
  display: none; }

.btn {
  font-size: 0.9em;
  padding: 7px 15px 10px 15px;
  font-weight: bold; }

input {
  padding: 7px 10px; }

label {
  font-weight: bold;
  font-size: 1.1em; }

#medications li {
  margin-bottom: 10px; }

#flash {
  padding: 10px;
  font-size: 1.1em;
  background: #FFF;
  border: 1px solid #ccc;
  margin-bottom: 10px; }

#letters a {
  display: inline-block;
  margin-right: 5px;
  font-weight: bold;
  font-size: 1.2em;
  text-transform: uppercase; }

.modal-header h3 {
  color: #7d7d7d; }

#dosage input, #dosage select {
  margin: 0 5px; }
#dosage .modal-body h3 {
  font-size: 0.9em; }
#dosage #medName {
  display: inline; }
#dosage #mg {
  width: 27px;
  font-size: 1.0em;
  padding: 10px; }
#dosage #units {
  width: 27px;
  font-size: 1.0em;
  padding: 10px; }
#dosage #measurements {
  width: 60px;
  margin-left: 0px; }
#dosage #when {
  width: 80px; }

.nums {
  display: inline-block;
  width: 20px;
  position: relative;
  top: 17px;
  margin-top: -13px; }
  .nums .num {
    padding: 7px 5px 5px 5px;
    font-size: 0.7em;
    text-align: center;
    line-height: 0px;
    height: 5px;
    margin-bottom: 2px;
    float: left; }

.x {
  margin-left: 5px;
  display: inline-block; }

#items td, #items th {
  padding: 7px 10px;
  text-align: left;
  border-right: 1px solid #EEE; }
#items th {
  background: #ddd;
  color: #7d7d7d; }

#search {
  margin-top: 15px; }
  #search button {
    position: relative;
    top: -5px;
    margin-left: 5px;
    padding: 12px 20px; }
  #search input {
    padding: 7px 10px;
    font-size: 1.2em;
    height: 30px;
    width: 500px;
    margin-bottom: 10px; }
  #search input.loading {
    background: white url(/img/spinner.gif) no-repeat 95% 10px; }

#soulmate {
  background-color: #fafafa;
  border: 1px solid #bbb;
  display: none;
  font-weight: normal;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  text-shadow: 0 0 0 white;
  top: 177px;
  width: 521px;
  z-index: 1000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  -khtml-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); }
  #soulmate .soulmate-type-container {
    border-top: 1px solid #ddd; }
    #soulmate .soulmate-type-container:first-child {
      border-top: none; }
  #soulmate .soulmate-type-suggestions {
    border-left: 1px solid #ddd;
    float: right;
    list-style: none;
    padding: 5px 0;
    width: 430px;
    letter-spacing: 0.5px; }
  #soulmate .soulmate-suggestion {
    color: #111;
    cursor: pointer;
    font-weight: 500;
    font-size: 13px;
    padding: 5px 0 6px 12px;
    text-decoration: none; }
    #soulmate .soulmate-suggestion.focus {
      color: white;
      margin-left: -1px;
      margin-right: -1px;
      padding-left: 13px;
      position: relative;
      text-shadow: 0 1px 1px #32629b;
      z-index: 1;
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      -khtml-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      background: #545454;
      background: -moz-linear-gradient(top, #545454 0, #444444 100%);
      background: -webkit-gradient(linear, 0 0, 0 100%, from(#545454), to(#444444));
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#545454,endColorstr=#444444)";
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#545454,endColorstr=#444444); }
  #soulmate .soulmate-type {
    background-color: white;
    color: #333;
    font-size: 11px;
    letter-spacing: 0.5px;
    margin-right: 430px;
    padding: 10px 10px 0 10px;
    text-align: right;
    text-transform: capitalize;
    vertical-align: top;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    zoom: 1; }
    #soulmate .soulmate-type:before, #soulmate .soulmate-type:after {
      content: "";
      display: table; }
    #soulmate .soulmate-type:after {
      clear: both; }

#logoBox {
  width: 480px;
  height: 310px;
  position: relative;
  top: 70px;
  margin: auto;
  background: url("/img/paper.png"); }
  #logoBox #early {
    display: block;
    background: url("/img/button.png") 0 0;
    height: 45px;
    width: 176px;
    position: relative;
    top: 200px;
    margin: auto; }
  #logoBox #early:hover {
    background: url("/img/button.png") 0 45px; }
  #logoBox #early:active {
    opacity: 0.8; }

#documeds {
  position: absolute;
  top: 385px;
  left: 50%;
  margin-left: -121px;
  width: 223px; }

#github {
  width: 400px;
  position: absolute;
  top: 630px;
  left: 50%;
  margin-left: -200px;
  color: #a4b0b7; }
