a {color:#3996d0;}
body {background:url('/img/bg.png');color:#959da2;font-size:1.1em;}
#top {
  background:#FFF;height:32px;
  padding:5px 15px;
  #name {font-weight:bold;position:relative;top:6px;float:right;margin-right:10px;}
  a {padding:7px 10px;display:block;background:#f1f1f1;float:right;color:#333;margin-right:3px;font-size:.9em;font-weight:bold;border-radius:3px;}
  a:hover {text-decoration:none;background:#ccc;}
}
#wrapper {padding:20px 50px;}
#logo {display:block;}
h1  {letter-spacing:-1px;font-size:4em;color:#c3ccd2;margin-bottom:0.5em;}
h1 a {text-decoration:none;color:#c3ccd2;}
h1 a:hover {text-decoration:none;color:#A2AAAE;}
h1 span {color:#A2ABB1;}
h5 {font-size:1.2em;color:#c3ccd2;line-height:1.2em;margin-bottom:0.6em;}
h5 span {color:#abb3b8;}
#central {text-align:center;padding-top:200px;}
.small {font-size:0.9em;color:#c3ccd2;}
.btn {font-size:0.9em;padding:7px 15px 10px 15px;font-weight:bold;}
input {padding:7px 10px;}
label {font-weight:bold;font-size:1.1em;}

#medications li {margin-bottom:10px;}

//#results {padding:10px;border:1px solid #eee;margin-bottom:20px;}
//#results li {}

#search {
  margin-top:15px;
  button {position:relative;top:-5px;margin-left:5px;padding:12px 20px;}
  input {padding:7px 10px;font-size:1.2em;height:30px;width:400px;margin-bottom:10px;}
}

#flash {padding:10px;font-size:1.1em;background:#FFF;border:1px solid #ccc;margin-bottom:10px;}

#letters {
  a {display:inline-block;margin-right:5px;font-weight:bold;font-size:1.2em;text-transform:uppercase;}
}